<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8" />
		<title>TITLE </title>
	</head>
	<body>
		<h1>MESSAGES</h1>
		<nav>
			<a href="/message-one">I want a message</a>
			<a href="/message-two">I want one more message</a>
		</nav>
                {% if get_flashed_messages()  %}
                <p>{% for message in get_flashed_messages() %}<p>
                <p><b>{{ message }}</b></p>
                <p>{% endfor %}</p>
                <p>{% endif %}</p><br>

		<h1>HELLO</h1>
		{%block content%}
		<p>this is body<p>
		{%endblock content%}	
	</body>
</html>
